.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9973F0;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight:100;
  }


