.Header {
  text-align: center;
  font-size: 45px;
  color: black;
}

.straighlineheader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #9973F0;
}

input {
  background-color: #9973F0;
}

.icons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}



