.Header {
  text-align: center;
  font-size: 45px;
  color: black;
  position:fixed;
  width:100%;
}

.straighlineheader {
  display: flex;
  flex-direction: row;
  background-color: #A786F5;
  align-items: center;
  justify-content: space-evenly;
}


input {
background-color: #C3AEF5;
box-sizing: border-box;

position: inherit;
width: 381px;
height: 39px;
left: 500px;
top: 15px;

background: #E2EAFC;
border: 1px solid #FFFFFF;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 5px;
}

.icons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-left: 30px;
  color:  #6446aa;
 
}



.app-name{
  font-family: 'Lobster', cursive;
  color: #6446aa;
} 



